body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #a1c4f1, #001e60);
}
.center {
    position: relative;
    padding: 30px 50px;
    background: #fff;
    border-radius: 10px;
}
.center h1 {
    font-size: 2em;
    padding: 5px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 40px;
}
.center .inputBox {
    position: relative;
    width: 300px;
    height: 40px;
    margin-bottom: 50px;
}
.center .inputBox input, button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
}
.center .inputBox a {
    display: none;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 2px #fff;
    width: 100%;
    background: #c2b141;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
}
.center .inputBox:last-child {
    margin-bottom: 0;
}
.center .inputBox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}
.center .inputBox input:focus ~ span,
.center .inputBox input:valid ~ span,
.center .inputBox input:invalid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}
.center .inputBox [class="submit-btn"] {
    width: 50%;
    background: dodgerblue;
    color: #fff;
    border: #fff;
}
.center .inputBox:hover [class="submit-btn"] {
    background: #0f2b72;
}
